extends ../shared/template
block content
  .row
    .col-xs-12
      #map
  .row
    .col-xs-12
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Loacation
            th Difficulty
            th Hints
            th Found
        tbody
          each treasure in treasures
            tr(data-name=treasure.name, data-lat=treasure.lat, data-lng=treasure.lng)
              td: a(href='/treasures/#{treasure._id}')= treasure.name
              td= treasure.spot
              td= treasure.difficulty
              td= treasure.hints
              td= treasure.found
block scripts
  script(src='/js/user/treasures.js')
