extends ../shared/template
block content
  .row
    .col-xs-6
      #map
    .col-xs-6
      .row
        .col-xs-12
          #treasure(data-name=treasure.name, data-lat=treasure.coordinates.lat, data-lng=treasure.coordinates.lng)
            .page-header: h1= treasure.name
      .row
        .col-xs-12
          h1 Hint
          h4= treasure.hints

      .row
        .col-xs-12
          img.img-thumbnail(src=treasure.photo)
    button.btn.btn-success#found(data-found=treasure.found, type="submit", method="post", action="/treasure", value=false) Found It!
block scripts
  script(src='/js/user/show.js')
